
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    }
body {
    background-color: rgb(255, 255, 255);
}
nav {
    background-color: #242326;
    width: 100%;
    max-height: 7rem;
    padding: 0.5rem ;
    text-align: left;
    align-items: center;
    font-size: 0.25rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    position: sticky;
    top: 0; left: 0; right: 0; z-index: 9999
}
.container {
    padding: 1rem 2rem 1rem 2rem;
} 

.h1 {
    padding-bottom: 1.5rem;
    font-size: 3rem;
}
.carousel-inner {
    max-height: 20rem;
}
.nav_img {
    display: block;
    max-width: 60px;
    margin-left: 4rem;
    margin-right: 1rem;
}
.navbar_text {
    font-size: 16px;
    color: #e2e1e7;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    padding: 0.5rem;
    margin-right: 1rem;
}
.navbar_text:hover {
    color: #efcbf3;
    background-color: rgb(98, 48, 104);
    border-radius: 0.5rem;
}

.h2 {
    padding-bottom: 2rem;
}
.info {
    text-align: justify;
}

footer {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #242326;
    color: #e2e1e7;
    text-align: center;
    line-height: 1.5;
}
.footer_link {
    color: #e2e1e7;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer_link:hover {
    color: #efcbf3;
    text-decoration: underline;
}

.btn {
    margin-top: 1rem;
    --bs-btn-font-weight: 600;
    --bs-btn-hover-color: rgb(98, 48, 104);
    --bs-btn-hover-border-color: #efcbf3;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    max-height: 50rem;
}
@media (max-width: 514px) {
    .nav_img {
        display: none;
    }
    nav {
        height: 4rem;
    }
    .image {
        max-width: 20rem;
    }
}
